@import "tailwindcss";

body {
  margin: 0;
  background: #070711;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}